.searchBar {
  border-bottom: 1px solid #ccc;
  height: 50px;
  padding-left: 10px;
  margin-top: 10px;
}
.searchInput {
  border: none;
  outline: none;
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}